.ipynb_checkpoints
__pycache__/
checkpoints/
events.out.tfevents.*
predictions/
.DS_Store
new_data/
old_data
predictions/
*.png
*.pyc
*.csv*
*.pth*
*.pt
*.zip
*.npy
*.json
*.yml
!configs/default*.yml
images/
labels/
labelTxt/
*.pkl
outputs/
logs/
wandb/
*.h5
*.onnx
MNIST/
_build/
tasks/docker
*.xls